/* .background {
    background-color: coral;
    height: 100vh;
    
}
.nav {
    background-color: cornflowerblue;
     
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: crimson;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}
button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    background-color: #babdb89f;
    border: none;
    color: #ffffffe1;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
   
}

.filtros {
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;    

}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    background-color: ghostwhite;
}
 */