/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background-image: url("../pruebalanding1.jpg");
    background-size: cover;
    background-position-y: -70px;
    background-position-x: 5px;
    height: 100vh;
    
}


.button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    background-color: #2b9b20;
    border: none;
    color: #ffffffe1;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    position: absolute;
    top: 420px;
    left: 98px;
    
    
  }
  
   */